# Virtuelle Umgebung
.venv/

# Python-Cache und kompilierte Dateien
__pycache__/
*.py[cod]

# Build / Packaging
*.egg-info/
build/
dist/

# Entwicklungsumgebungen
.vscode/
.idea/

# Test Coverage
.Coverage
htmlcov/

# Local application data
tasks.json

# Logs
logs/
*.log

# Betriebssystemdateien
.DS_Store
Thumbs.db